@using PresentationLayer.Areas.Stores.Models
@model ServiceEditVM
<div class="row" data-cat-picker>
  <div data-parent-wrap style="position:relative">
    <label>@Html.DisplayNameFor(m => m.ParentCategoryId)</label>
    <select data-parent class="" name="ParentCategoryId"></select>
    <div class="help">Chọn nhóm lớn trước</div>
  </div>
  <div data-child-wrap class="hidden" style="position:relative">
    <label>@Html.DisplayNameFor(m => m.CategoryId)</label>
    <select data-child class="" name="CategoryId"></select>
    <div class="help">Danh mục con sẽ hiện sau khi chọn danh mục cha</div>
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
  </div>
  <div style="align-self:end">
    <div data-crumb class="muted"></div>
  </div>
</div>
